<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sharpRPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <sharpRPA.Properties.Settings>
      <setting name="sharpRPAServerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sharpRPAServerConnectOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sharpRPAServerRetryOnDisconnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sharpRPAServerURL" serializeAs="String">
        <value />
      </setting>
    </sharpRPA.Properties.Settings>
  </userSettings>
</configuration>